<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3 style="text-align: center; color: green">
    <span th:text="'Welcome!' + ${person.name}"></span>
</h3>
<p>
    <span th:text="'Address:' + ${person.address}"></span>
    <span th:text="'Descriptin:' + ${person.description}"></span>
</p>
</body>
</html>